.login-page {
    background-color: #FFFFFF; /* Blanc */
    padding: 20px;
    border-radius: 8px;
    border: 2px solid #000000; /* Noir */
    display: inline-block;
  }
  
  .login-page-title {
    color: #EF4135; /* Rouge français */
  }
  