/* Import Swiper styles */
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/scrollbar";
@import "swiper/css/effect-fade";

.swiper-pagination-bullet {
  background-color: #99d68f;
  width: 12px;
  height: 12px;
  opacity: 100%;
  transition: all 0.3s ease-in;
}

.swiper-pagination-bullet-active {
  background-color: #57a773;
  transform: scale(1.25);
}
