/* Import Swiper styles */
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/scrollbar";
@import "swiper/css/effect-fade";
.swiper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  
}
.swiper-container {
  width: 100%;
  height: 100%;
  
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}


.swiper-wrapper {
  display: flex;
  transition: transform 0.3s ease-in-out;
}
.swiper-wrapper {
  transition-timing-function: linear;
}