[name="slide"] {
    display:none;
}
[id="slide01"]:checked ~ .slidelist .slideitem{
    transform: translateX(0);
    animation: slide01 30s infinite;
}
[id="slide02"]:checked ~ .slidelist .slideitem{
    transform: translateX(-100%);
}
[id="slide03"]:checked ~ .slidelist .slideitem{
    transform: translateX(-200%);
}
[id="slide04"]:checked ~ .slidelist .slideitem{
    transform: translateX(-300%);
}
@keyframes slide01 {
    0%      {left:0%   }
    23%     {left:0%   }
    25%     {left:-100%}
    48%     {left:-100%}
    50%     {left:-200%}
    73%     {left:-200%}
    75%     {left:-300%}    
    98%     {left:-300%}
    100%    {left:0%   }
}
.slidelist {
    white-space: nowrap;
    overflow: hidden;
}
.slidebox .slideitem {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width:100%;
    transition: all .35s;
}
.div_banner{
    margin-top:50px;
    background: #6074EE;
    width: 100%;
    padding: 50px 0px;
    text-align: center;
}
.slidebox{
    margin: 0 auto;
    width: 1100px;
    height: 400px;
    background: white;
    border-radius: 30px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.4);
}
.slidebox h1{
    margin-top: 150px;
    padding: 5px 20px;
    display: inline-block;
    background: #EEA0A6;
}
.div_dots{
    margin-top: 100px;
    text-align: center;
}
.div_dots span{
    height: 15px;
    width: 15px;
    margin: 0 4px;
    color:gray;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active {
    background-color: #717171;
}
.slideitem i{
    color: white;
    background-color: #717171;
    padding:6px;
    border-radius: 100%;
    font-weight: bold;
    font-size: 18pt;
}
label.left{
    display: inline-block;
    margin-right: 400px;
}
label.right{
    display: inline-block;
    margin-left: 400px;
}