:root {
    --color_blue: #1029C9;
}
*{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}
*,*::before,*::after {
    box-sizing: content-box;
}
.row {
    padding: 8px 18px;
}
.img_logo{
    padding-left:10px;
    padding-top: 8px;
}

nav{
    width: 100%;
    margin: 0 auto;
    background-color: white;
    position: sticky;
    transform: translateY(50%); 

}

nav ul{
    list-style-type: none;
    padding-left: 0px;
}
nav ul li{
    float: left;
    width: 20%;
    text-align: center;
    position: relative;
}
nav ul::after{
    content: "";
    display: table;
    clear: both;
}
nav a, .li_language{
    display: block;
    text-decoration: none;
    color: #000000;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}
nav a:hover{
    color:var(--color_blue);
    text-decoration: none;
}
.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
nav > ul li:hover .sous{
    display: block;
}
.sous li{
    float: none;
    width: 100%;
    text-align: left;
}
.sous a{
    padding: 10px;
    border-bottom: none;
}
.sous a:hover{
    border-bottom: none;
    background-color: RGBA(200,200,200,0.1);
}
.deroulant > a::after{
    /* content:" ▼"; */
    font-size: 12px;
}