.body {
    margin: 0;
}
a {
    text-decoration: none;
    color: 000000;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    border-bottom: solid 1px #CECECE;
}
.navbar__logo {
    font-size: 24px;
    align-items: center;
}
.navbar__menu {
    display: flex;
    list-style: none;
    padding-left: 0;
    /* background-color: plum; */
}
.navbar__menu li {
    padding: 8px 12px;
}
.navbar__language {
    list-style: none;
    display: flex;
}
.navbar__language li{
    padding: 8px 5px;
}