.div_login {
    margin: 100px auto;
    width: 350px;
    height: 400px;
}
.div_logo{
    width: 100%;
    text-align: center;
    padding: 50px;
}
.img_logo{
    width: 150px;
}
.input_email, .input_password{
    width:100%;
    border: solid black 1px;
    height:50px;
    font-size: 16pt;
    padding:5px;
}
.p_email, .p_password{
    font-size: 18pt;
    margin: 0;
}
.p_password{
    margin-top:20px;
}
.div_submit{
    text-align: center;
}
.input_submit{
    margin: 50px auto;
    width:60%;
    border: 0;
    background: #0C2B9B;
    color: white;
    height:50px;
    font-size: 16pt;
}
.div_bottom{
    width:100%;
    text-align: center;
    font-size: 12pt;
}
.div_bottom a{
    color:#485BD3
}
.div_bottom label{
    color:#485BD3
}