.div_error{
    margin-top:5px;
    font-size: 12pt;
    color: red;
}
.div_footer{
    background-color: #22339B;
    width: 100%;
    position:relative;
    bottom: 0;
    text-align: center;
}
.div_contact{
    padding:20px 0px;
    width:100%;
    text-align: center;
}
.a_aboutUs, .a_newletter{
    padding-left: 20px;
}
.div_contact a{
    text-decoration: none;
    color:white;
}
.div_rights{
    color:white;
    padding: 0px 0px 20px 0px;
    width: 100%;
}
